:root {
    --primary-color: goldenrod;
    --secondary-color: antiquewhite;
    --text-color: #585858;
    --main-background-color:white;
}


body {
    background-color: var(--main-background-color);
    color: var(--text-color)
}

/* Margins and Padding */

.mrg-top-100{
    margin-top:100px;
}

.mrg-top-50{
    margin-top:50px;
}


li.hooper-slide.is-active.is-current p{
    padding: 0px 25px;
    font-weight: 600;
}

li.hooper-slide{
    height: 100%;
}

li.hooper-slide.is-active p{
    font-weight:100;
}

.hooper{
    height:100%;
    border: 1px solid #efecec;
}

.hooper:focus{
    outline: none !important;
}